@import "../../../../assets/styles/functions";

.Content {
  padding-top: rem(70);
  display: flex;
  flex-direction: column;
  gap: rem(60);
}

.DeliveryContent {
  display: flex;
}

.DeliveryItem {
  width: rem(140);
  height: rem(90);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  border: rem(1) solid $border-gray;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $bg-gray-lighten;
  }
}

.Selected {
  border: rem(1) solid $border-black;
  user-select: none;
}