@import "src/assets/styles/functions";

.Background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: 0.5s showBackground;
  z-index: 10;
}

.Modal {
  position: relative;
  left: 50%;
  top: 50%;
  width: rem(350);
  height: rem(220);
  padding: rem(50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(18);
  transform: translate(-50%, -50%);
  background: $bg-black;
  animation: 0.5s showModal;
}

.Title {
  color: $text-white;
  font-size: rem(20);
}

.Subtitle {
  color: $text-gray-400;
  font-size: rem(10);
  text-transform: uppercase;
  text-align: center;
}

.Button {
  position: absolute;
  top: rem(30);
  right: rem(30);
}

.CloseIcon {
  line {
    stroke: $text-white;
  }
}

.Line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: $bg-white;
  animation: 3s line linear;
}

@keyframes showModal {
  0% {
    transform: translate(-50%, -80%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes showBackground {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}