@import "../../assets/styles/functions";

.Card {
  max-width: rem(453);
  min-width: rem(453);
  height: fit-content;
  padding: rem(18) rem(38);
  display: flex;
  flex-direction: column;
  gap: rem(36);
  font-size: rem(24);
  line-height: rem(38.5);
  background: $bg-gray-lighten;

  @media (max-width: 1000px) {
    max-width: 100%;
  }

  @media (max-width: 500px) {
    min-width: 200px;
    padding: rem(18);
  }
}

.ImagesContainer {
  display: flex;
  gap: rem(14);
  padding-bottom: rem(12);
  overflow: auto;
}

.ImageContainer {
  position: relative;
}

.Image {
  min-width: rem(116);
  object-fit: cover;
  background: $bg-gray;
}

.Table {
  font-size: rem(16);
  line-height: rem(25.5);

  span {
    white-space: nowrap;
  }

  div {
    &:last-child {
      span {
        color: $text-bronze
      }
    }
  }
}

.FinalPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FinalText {
  font-size: rem(16);
}

.FinalPrice {
  font-size: rem(26);
}