@import "../../../../assets/styles/functions";

.Content {
  padding-top: rem(70);
  display: flex;
  flex-direction: column;
  gap: rem(60);
}

.InputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.Description {
  color: $text-gray-400;
  font-size: rem(12);
}