@import "src/assets/styles/functions";

.Container {
  width: 100%;
  position: relative;

  .Border {
    position: relative;
    border-bottom: rem(1) solid #d8d8d8;

    &.Valid {
      border-bottom: rem(1) solid #d8d8d8;
    }

    &.Error {
      border-bottom: rem(1) solid #d63031;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: rem(-1);
      left: 0;
      width: 0;
      height: rem(2);
      background: #1d1d1d;
      transition: 0.3s;
    }
  }

  .Label {
    position: absolute;
    left: 0;
    pointer-events: none;
    user-select: none;
    transform: translateY(-1.4rem);
    font-size: rem(12);
    transition: 0.3s;

    &.Valid {
      color: #767676;
    }

    &.Error {
      color: #d63031;
    }
  }

  .Input {
    width: 100%;
    padding: rem(5) 0;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.3s;

    &[value=""] {
      ~ .Label {
        font-size: rem(16);
        transform: translateY(0rem);
      }
    }

    &:focus {
      ~ .Label {
        font-size: rem(12);
        transform: translateY(-1.4rem);
      }

      ~ .Border {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.ErrorIcon {
  margin: rem(1) 0 0 rem(8);
  padding-left: rem(2);
  padding-bottom: rem(1);
  min-width: rem(12);
  height: rem(12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(8);
  text-align: center;
  border: rem(1) solid $red-rose;
  color: $red-rose;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $red-rose;
    color: $text-white;
  }
}

.ErrorMessage {
  margin: 0 rem(12) rem(14) 0;
  background: $bg-white;
  font-size: rem(10);
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.ShowErrorMessage {
  opacity: 1;
  z-index: 2;
}

.InputWrapper {
  min-height: rem(32);
  display: flex;
  align-items: center;
  justify-content: space-between;
}